<div class="row">
  <div class="col-md-3">
    <div class="center">
       <%= image_tag avatar_url(@user), width: "80%", class: "avatar-full" %>
    </div>
    <div class="card card-default">
      <div class="card-heading">Verification</div>
      <div class="card-body">
        Email: <br>
        Phone: <br>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <h2><%= @user.fullname %></h2>
    <div class="description row-space-3">
      <%= @user.description %>
    </div>
    <h4>Listings (<%= @rooms.length %>)</h4><br>
    <div class="row">
        <% @rooms.each do |room| %>
            <div class="col-md-4">
              <div class="card card-default">
                  <div class="card-heading preview">
                      <%= image_tag room.images[0] %>
                  </div>
                  <div class="card-body">
                      <%= link_to room.listing_name %>
                  </div>
              </div>
            </div>
        <% end %>
    </div>
  </div>
</div>
