<div class="row">
  <div class="col-md-4 p-2">
    <h2>Personal Profile</h2>
    <div class="bg-info text-center mb-2">
       <%= image_tag avatar_url(@user), width: "80%", class: "rounded-circle" %>
    </div>
    <span class="py-2"><strong>Name:</strong><%= @user.fullname%></span><hr>
    <span class="py-2"><strong>Email:</strong><%= @user.email%></span><hr>
    <span class="py-2"><strong>Phone:</strong><%= @user.phone%></span><hr>
    <%= button_tag "My Listings", class: "btn btn-primary mb-3" %><br>
    <%= button_tag "My Bookings", class: "btn btn-primary mb-3" %><br>
    <%= link_to "Update My Profile", edit_user_registration_path(current_user.id), class: "btn btn-primary mb-3" %><br>
  </div>
  <div class="col-md-8">
  </div>
</div>
