<div class="login-container">
    
     <div class="auth-actions">
          <div>
              <%= link_to "Sign Up", new_user_registration_path, class:""%>
          </div>
          <div class="active">
              <strong><%= link_to "Log in", new_session_path(@user) %></strong>
          </div>
          <div style="background-color: skyblue">
              <%= link_to user_facebook_omniauth_authorize_path, class: "text-white", method: :post do %>
                  <i class="fab fa-facebook"></i>&nbsp;Login
              <% end %>
          </div>
     </div>
    <br><br>
    <h2>Forgot your password?</h2>
    <br>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.email_field :email, autofocus: true, placeholder: "Email", class: "form-input", autocomplete: "email" %>
      </div>
     <br><br>
      <div class="actions">
        <%= f.submit "Send me reset password instructions", class: "auth-button" %>
      </div>
    <% end %>
</div>

