<div class="row">
    <div class="col-md-3">
       <ul class="sidebar-list">
            <li class="sidebar-item"><%= link_to "Your Listings", rooms_path, class: "sidebar-link active" %></li>
            <li class="sidebar-item"><%= link_to "Your Reservations", your_reservations_path, class: "sidebar-link" %></li>
            <li class="sidebar-item"><%= link_to "Your Trips", your_trips_path, class: "sidebar-link" %></li>
       </ul>
    </div>
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading">My Listings</div>
            <div class="panel-body">
                <% @rooms.each do |room| %>
                    <div class="row">
                       <div class="col-md-3"><%= image_tag room.images[0] , width: "100%", alt: "Listing Photo", class: "image-medium" %></div>
                       <div class="col-md-6"><h4><%= link_to room.listing_name, room_path(room) %></h4></div>
                       <div class="col-md-3 right"><%= link_to "Update", edit_room_path(room), class: "btn btn-primary" %></div>
                    </div><hr>
                <% end %>
            </div>
        </div>
    </div>

</div>
<h4>Reviews</h4><br>

<% @rooms.each do |room| %>
    <% if !room.reviews.each do |review| %>
        <div class="row">
            <div class="col-md-2 text-center">
                <%= image_tag avatar_url(review.user), class: "img-circle image-medium"%><br>
                <%= review.user.fullname %>
            </div>
            <div class="col-md-10">
                <%= link_to room.listing_name, room %><br>
                <%= review.comment %><br>
                <%= review.created_at.strftime("%v") %>
            </div>
        </div>
        <% end %>
    <% end %>
<% end %>